body{
    display: flex;
    justify-content: center;
    background-color: #FAFAFB;
}

main {
    background-color: #FAFAFB;
}

.mainn {
    width: 1920px;
}

.icon i{
    margin-right: 10px;
}

.menu {
    margin: 70px 50px 0px 68px
}

.menu a{
    width: 200px;
    /* height: 32px; */
    padding: 5px 12px 5px 8px;
    gap: 8px;
    margin-bottom: 21px;
    text-align: left;
}

.container{
    width: 90%;
}

.style {
    width: 1191px;
    display: flex;
    justify-content: space-between;
    margin:16px 0px;
}

.style div input{
    border: none;
    margin-left: 10px;
}

.style1 {
    border: 1px solid #e0d2d2;
    height: 66.21356201171875px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #FFFFFF;
}

.total {
    width: 345.88177490234375px;
    background: transparent;
}

.search {
    width: 602.5985107421875px;
    background-color: transparent;
}

.information {
    width: 80%;
    padding: 20px;
}

.add{
    width: 162px;
    height: 40px;
    border: none;
    border-radius: 100px;
    gap: 8px;
    background-color: #65558F;
    color: white;
}

tbody img{
    width: 100px;
    height: 70px;
    border-radius: 5px;
}

.status {
    width: 56.79999923706055px;
    height: 23px;
    border-radius: 4px;
    background-color: #D1FAE5;
    text-align: center;
}

tbody .statuss{
    width: 79px;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    text-align: center;
    /* padding: 7px 23px 7px 11px; */
}

.style {
    width: 49.61000061035156px;
    height: 28px;
    border-radius: 4px;
    text-align: center;
    border: none;
}

.edix {
    background-color: #44EF55;
    margin-right: 5px;
}

.del{
    background-color: #EF4444;
}


