body {
    width: 1920px;
}

.fa-microchip {
    color: #F76659;
    margin-right: 10px;
}

nav {
    background-color: #FFFFFF;
}

.search {
    width: 1080px;
    border: 1px solid #DDE2E4;
    border-radius: 6px;
}

.search input {
    border: none;
}

.search button{
    border: none;
}

.button {
    border: 1px solid #DDE2E4;
}

.avata img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main{
    width: 1920px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1280px;
}

img{
    width: 320px;
    height: 200px;
}

h1{
    text-align: center;
    color: #F80101;
}

.add{
    display: flex;
    justify-content: center;
}

.pasd {
    margin-right: 16px;
}

