body {
    width: 1920px;
}

.fa-microchip {
    color: #F76659;
    margin-right: 10px;
}

nav {
    background-color: #FFFFFF;
}

.search {
    width: 1080px;
    border: 1px solid #DDE2E4;
    border-radius: 6px;
}

.search input {
    border: none;
}

.search button{
    border: none;
}

.button {
    border: 1px solid #DDE2E4;
}

/* .container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
} */

.icon {
    text-align: center;
    padding-top: 50px;
}

.icon i{
    margin: 0px 5px 0px 5px;
}

main{
    width: 1920px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1280px;
}

img{
    width: 320px;
    height: 200px;
}

h1{
    text-align: center;
    color: #F80101;
}

