body{
    display: flex;
    justify-content: center;
}

main {
    background-color: #FAFAFB;
}

.mainn {
    width: 1920px;
}

.icon i{
    margin-right: 10px;
}

.menu {
    margin: 70px 50px 0px 68px
}

.menu a{
    width: 200px;
    /* height: 32px; */
    padding: 5px 12px 5px 8px;
    gap: 8px;
    margin-bottom: 21px;
    text-align: left;
}

.container{
    width: 90%;
}

.style {
    width: 1191px;
    display: flex;
    justify-content: space-between;
    margin:16px 0px;
}

.style div input{
    border: none;
    margin-left: 10px;
}

.style1 {
    border: 1px solid #e0d2d2;
    height: 66.21356201171875px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #FFFFFF;
}

.total {
    width: 345.88177490234375px;
}

.search {
    width: 602.5985107421875px;
}

.information {
    width: 1191.4793701171875px;
}

tbody tr td button{
    border: none;
    padding: 2px 8px;
    border-radius: 15.68px;
    background-color: #F9F5FF;
    color: #6941C6;
}

tbody tr .email {
    color: #667085;
}

tbody tr td img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C7B9DA;
}

